<div class="ms-4 mt-4">
    <form METHOD="POST" action="">
    <div class="mb-3">
        <label for="input_text" class="form-label">Type text</label>
        <input type="text" name="query" class="form-control" id="input_text" placeholder="Enter text">
    </div>
    <div class="mb-3">
        <label for="gender_input">từ khoá</label>
        <select name="gender" class="form-control" id="gender_input">
            <option value="">_chọn giới tính_</option>
            <option value="male">nam</option>
            <option value="female">nữ</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>